* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25, 31, 31);
    color: white;
    font-family: cursive
}

.title {
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;

}

.nav-bar div {
    margin-right: 30px;
    padding: 20px;

}

.nav-bar .links .link {
    padding: 15px;
}

.profile-pic {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-left: 70%;
}

.profile-pic img {
    height: 150px;
    width: 170px;
    display: flex;
    border: solid black 2px;
    border-radius: 75px;
    box-shadow: 0 0 10px #22dede;
    mix-blend-mode: screen;
}

.skills {
    margin-top: 16px;
}

.skill-list img {
    height: 100px;
}

.skill-list {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    height: 350px;
    margin-top: 10px;
}

.skill-list div {
    text-align: center;
}

.skill-list .html img {
    width: 110px;
}

.info {
    margin-left: 30px;
    margin-top: 30px;
    height: 250px;
}

.personal-info {
    font-size: 32px;
}

.skill-header {
    font-size: 32px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.skill-header p {
    border: solid teal;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.skill-desc {
    margin-top: 10px;
    display: none;
}

.skill-img {
    margin-left: 25px;
    width: 160px;
}

.skill-img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px teal;
    transition: all 0.5s;
}

.skill-img:hover>.skill-desc {
    position: relative;
    display: flex;
    width: 160px;
    transition: all 2s;

}

.tools {
    display: flex;
    justify-content: center;
    height: 90px;
    margin-top: 30px;
}

.tools img {
    height: 60px;
    padding: 10px;
    margin-left: 30px;

}

.tools img:hover {
    cursor: pointer;
    height: 70px;
    width: 70px;
    box-shadow: 0 0 10px teal;

}

.about-me {
    margin-top: 10px;
    height: 380px;
}

.tool-name {
    display: none;
}

.tools img:hover+.tool-name {
    display: flex;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

.about-me .about-header p {
    border: solid teal;
    border-top: 0;
    border-left: 0;
    border-right: 0
}

.about-header {
    display: flex;

    font-size: 32px;
    justify-content: center;
    align-items: center;
}

.about-content {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 360px;
}

.social-links p {
    border: solid teal;
    font-size: 32px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-left: 60px;
}

.social-links img {
    height: 100px;
    width: 100px;
}

.social-links .github {
    height: 86px;
    margin-top: 10px;
    border: solid black 2px;
    border-radius: 75px;
    width: 82px;
    margin-left: 10px;
}

.social-icons {
    margin-top: 20px;
    margin-left: 40px;
}

.footer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 2px teal;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.footer a {
    padding: 10px;

}

.social-icons a div {
    margin-top: -43px;
    margin-left: 190px;
}

@media only screen and (max-width: 767px) {
    .nav-bar {
        position: fixed;
        width: 100%;
        margin-top: -40px;
    }

    .nav-bar div {
        margin-right: 0;
    }

    .info {
        padding-top: 30px;
    }

    .profile-pic img {
        height: 75px;
        width: 80px
    }

    .profile-pic {
        margin-top: -144px;
        z-index: -1;
        position: relative;
        margin-left: 480px;
    }

    .skill-header,
    .about-header {
        margin-left: 190px;
    }

    .tools {
        margin-left: 150px;
    }

    .about-me {
        height: 594px;
    }

    .about-content p {
        width: 100%;
        margin-left: 90px;
    }

    .social-header {
        margin-left: 100px;
    }

    .social-icons {
        margin-left: 140px;
    }
    .footer {
        margin-left: 160px;
    }
}